<div class="card flex flex-col">
    <h5>
        <strong class="page-title">{{ isUpdateMode ? 'Update User' : 'Create New User' }}</strong>
    </h5>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
        <hr />
        <div class="flex flex-wrap gap-6">
            <div class="flex flex-col grow basis-0 gap-2">
                <label for="username">Username <span class="asterisk-imp">*</span></label>
                <input pInputText id="username" type="text" formControlName="username" />
                <p-message *ngIf="usernameControl?.invalid && submitted" severity="error" text="Username is required and must be at least 3 characters."></p-message>
            </div>
            <div class="flex flex-col grow basis-0 gap-2" *ngIf="!isUpdateMode">
                <label for="password">Password <span class="asterisk-imp">*</span></label>
                <input pInputText id="password" type="password" formControlName="password" />
                <p-message *ngIf="passwordControl?.invalid && submitted" severity="error" text="Password is required and must be at least 6 characters."></p-message>
            </div>
        </div>
        <div class="flex flex-wrap gap-6">
            <div class="flex flex-col grow basis-0 gap-2">
                <label for="telegramId">Telegram ID</label>
                <input pInputText id="telegramId" type="text" formControlName="telegramId" />
            </div>
            <div class="flex flex-col grow basis-0 gap-2">
                <label for="role">Role</label>
                <p-select [options]="roles" formControlName="role" optionLabel="label" optionValue="value" placeholder="Select a Role" class="w-full"> </p-select>
            </div>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <button pButton type="submit" [icon]="isUpdateMode ? 'fas fa-save' : 'fas fa-plus'" [label]="isUpdateMode ? 'Update' : 'Create'" [disabled]="userForm.invalid"></button>
        </div>
    </form>
</div>
